<header class="header">
  <section class="header__section">
    <div class="conteiner">

      <div class="nav">
        <div class="nav__logo">
          <svg class="nav__svg" width="24" height="24">
            <use href="/src/images/film.svg"></use>
          </svg>
          <h1>Filmoteka</h1>
        </div>
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__link">my library</a></li>
        </ul>

      </div>

        <form class="form">
          <input class="input__form">
          <button class="btn__form">
          <svg class="btn__svg" width="12" height="12">
            <use href="/src/images/search 2.svg"></use>
          </svg>
          </button>
        </form>

    </div>
  </section>
</header>