<header class="header">
  <section class="header__section">
    <div class="conteiner">

      <div class="nav">
        <div class="nav__logo">
          <svg class="nav__svg" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-film-2"></use>
          </svg>
          <h1 class="nav__logo-name">Filmoteka</h1>
        </div>
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">HOME</a></li>
          <li class="nav__item"><a href="#" class="nav__link">MY LIBRARY</a></li>
        </ul>

      </div>

        <form class="form">
          <input class="input__form" type="text" name="search" placeholder="Movie search">
          <button class="btn__form">
            <svg class="btn__svg" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-search_2"></use>
            </svg>
          </button>
        </form>

        <div class="header__bg">
            <p>LIGHT</p>
            <div class="header__switch">
                <span class="slider"></span>
            </div>
            <p>DARK</p>
        </div>

    </div>
  </section>
</header>
