<section class="main_movies">
    <div class="conteiner">
        <ul class="movies d-flex flex-wrap">

        </ul>
    </div>
    <div class="pagination">
        <div class="pagePrev">
            <svg class="icon icon-arrow-left disabled">
                <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
        </div>
        <div class="current">1</div>
        <div class="pageNext">
            <svg class="icon icon-arrow-right">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </div>
    </div>
</section>