    <div class="glide"> 
        <div data-glide-el="track" class="glide__track"></div>
            <ul class="glide__slides">
                    
            </ul>


            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                    <svg class="modal-icon" width="14" height="14">
                        <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                    <svg class="modal-icon" width="14" height="14">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
