.footer {
  padding: 30px 0;
}

.footer-container {
  justify-content: center;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

}

.footer-text2{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration:underline 2px solid;
}
