.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  background-color: #f7f7f7;
}

.footer-container {
  justify-content: center;
}

.footer-text {
  font-size: 12px;
  line-height: 10px;

  @media screen and (min-width: $tablet) {
    font-size: 13px;
    line-height: 17px;
  }

  @media screen and (min-width: $desktop) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}

.footer-text.underline{
  text-decoration:underline 2px solid;
}
