.header{
    color: #fff;
}

.header__section{
    background-image: url(../images/header.des.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;

    @media screen and (min-width: 320px) {
        background-image: url(../images/header-mob.jpg);
        padding-top: 44px;
        padding-bottom: 92px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: url(../images/header-mob-2x.jpg);
        }
    }

    @media screen and (min-width: 768px) {
        background-image: url(../images/header-tab.jpg);
        padding-top: 40px;
        padding-bottom: 81px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: url(../images/header-tab-2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: url(../images/header.des.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: url(../images/header-des-2x.jpg);
        }
    }
}

.nav__logo-name{
    display: none;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav__list{
    display: flex;
}

.nav__item:not(:last-child){
    margin-right: 40px;
}