.movies {
  margin-top: 60px;
  justify-content: space-between;
}

.movie_card {
  margin-bottom: 20px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.image-container{
  overflow: hidden;
  border-radius: 5px;
}

.movie__img {
  width: 280px;
  height: 398px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;

  @media screen and (min-width: $tablet) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: $desktop) {
    width: 394px;
    height: 574px;
  }
}

.image-container:hover .movie__img {
  transform: scale(1.1); 
}

.movie_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
  text-transform: uppercase;
}

.movie_genre {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-text-color;
}

.movie_vote {
  background: #ff6b01;
  padding: 1px 10px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.pagination {
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
}

.pagePrev,
.pageNext {
  padding: 20px;
  cursor: pointer;
}

.pagePrev.disabled {
  cursor: not-allowed;
  color: gray;
}

.current {
  padding: 10px 20px;
  border-radius: 50%;
  border: 5px solid #ff6b01;
  font-size: 20px;
  font-weight: 600;
}
