.is_hidden {
  display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
}

.modal__content{
  width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  height: auto;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  padding: 48px 20px 40px;
  transform: translate(-50%,-50%);

  @media screen and(min-width:$tablet){
    width: 704px;
    max-height: 552px;

    display: flex;
  }
}

.img__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 20px;

  @media screen and(min-width:$tablet){
    margin-right: 68px;
  }
}

.modal__img{
  border-radius: 5px;

  @media screen and(min-width:$tablet){
    max-width: 264px;
    max-height: 373.55px;
  }
}

.list__modal{
  display: flex;
}

.list__titel{
  margin-right: 39px;
  color: #8C8C8C;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.list__value{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.modal__film-titel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  padding-bottom: 20px;
}

.list__item:not(:last-child){
  padding-bottom: 8px;
}

.list__value-item{
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;

  background-color: #FF6B01;
  border-radius: 5px;
}

.modal__text-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  padding-top: 20px;
  padding-bottom: 8px;
}

.modal__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.modal__btn{
  padding-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-item{
  width: 110px;
  height: 44px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  background: #fff;
  border-radius: 5px;

  border: 1px solid #000;
}

.btn-item:not(:last-child){
  margin-right: 20px;
}