.is_hidden {
  display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.modal__content{
  width: calc(100% - 30px);
  max-height: 100%;
  height: auto;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  padding: 48px 20px 40px;
  transform: translate(-50%,-50%);

  @media screen and(min-width:$tablet){
    width: 704px;
    max-height: 552px;

    display: flex;
  }

  @media screen and(min-width: $desktop){
    width: 806px;
    max-height: 558px;
  }
}

.img__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 20px;

  @media screen and(min-width: $tablet){
    margin-right: 68px;
  }

  @media screen and(min-width: $desktop){
    margin-right: 16px;
  }
}

.modal__img{
  border-radius: 5px;

  @media screen and(min-width: $tablet){
    max-width: 264px;
    max-height: 373.55px;
  }

  @media screen and(min-width: $desktop){
    max-width: 375px;
    max-height: 478px;
  }
}

.list__modal{
  display: flex;
}

.list__titel{
  margin-right: 39px;
  color: #8C8C8C;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.list__value{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.modal__film-titel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  padding-bottom: 20px;
}

.list__item:not(:last-child){
  padding-bottom: 8px;
}

.list__value-item{
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;

  background-color: #FF6B01;
  border-radius: 5px;
}

.modal__text-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  padding-top: 20px;
  padding-bottom: 8px;
}

.modal__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.modal__btn{
  padding-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-item{
  width: 110px;
  height: 44px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  background: #fff;
  border-radius: 5px;

  border: 1px solid #000;

  transition: background-color 0.7s ease, color 0.7s;
}

.btn-item:not(:last-child){
  margin-right: 20px;
}

.btn-item:hover{
  background-color: $buttonBg-color;
  color: #fff;
  border: 1px solid $buttonBg-color;
}

.btn-close{
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;

  transition: fill 0.7s ease;

  position: absolute;

  right: 25;
  top: 25;

}

.btn-close:hover{
  fill: $buttonBg-color;
  animation: spinClose 1s linear infinite;
  transform-origin: center center;

  @keyframes spinClose {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
}


